* {
    font-family: "Montserrat", sans-serif;
    /* Remove todo o preenchimento interno dos elementos */
    padding: 0;
    /* Remove todas as margens dos elementos */
    margin: 0;
    /* Faz com que o padding e a borda sejam incluídos nas dimensões totais do elemento (largura e altura) */
    box-sizing: border-box;
}

html{
    min-height: 100vh; /* Define uma altura mínima de 100% da altura da janela de visualização */
    position: relative; /* Define a posição do elemento como relativa para permitir o posicionamento absoluto dos filhos */
}

main{
    margin-bottom: 250px; /* Adiciona uma margem inferior de 250px */
}

/* NAVBAR */

#logo {
    position: absolute; /* Define a posição do logo como absoluta */
    top: 10px; /* Posiciona o logo 10px do topo do elemento pai */
    left: 9.5%; /* Posiciona o logo 9.5% do lado esquerdo do elemento pai */
}


#logo img {
    width: 70px; /* Define a largura da imagem do logo como 50px */
}

#navbar {
   display: flex; /* Define o display como flex para facilitar o alinhamento dos itens */
   align-items: center; /* Alinha os itens ao centro verticalmente */
   justify-content: center; /* Alinha os itens ao centro horizontalmente */
   background-color: #4392d6; /* Define a cor de fundo como cinza escuro */
   padding: 30px; /* Adiciona um padding de 20px */
   text-transform: uppercase; /* Transforma o texto em maiúsculas */
   list-style: none; /* Remove os marcadores de lista padrão */
}

#navbar li{
   margin: 0 10px; /* Adiciona uma margem de 10px à esquerda e à direita dos itens da lista */
   padding: 5px; /* Adiciona um padding de 5px aos itens da lista */
}

#navbar .nav-link{
   color: #fff; /* Define a cor do texto como branca */
   text-decoration: none; /* Remove a decoração do texto (sublinhado) */
   transition: .5s; /* Adiciona uma transição de 0.5s para as mudanças de estilo */
   font-size: 14px; /* Define o tamanho da fonte como 14px */
}
#navbar .nav-link:hover{
    color: #000000; /* Muda a cor do texto para cinza claro quando o mouse está sobre o link */
}

/*HOME*/
 #title-container {
   min-width: 500px; /* Define uma largura mínima de 500px para o container do título */
   text-align: center; /* Centraliza o texto dentro do container */
   margin-top: 30px; /* Adiciona uma margem superior de 30px */
 }

 #title-container h1{
    font-size: 50px; /* Define o tamanho da fonte como 50px */
 }

 #title-container p{
   margin-top: 10px; /* Adiciona uma margem superior de 10px */
   text-transform: uppercase; /* Transforma o texto em maiúsculas */
   color: #999; /* Define a cor do texto como cinza claro */
 }

 #posts-container {
   max-width: 1200px; /* Define uma largura máxima de 1200px para o container de posts */
   margin: 0 auto; /* Centraliza o container horizontalmente */
   margin-top: 30px; /* Adiciona uma margem superior de 30px */
   display: flex; /* Define o display como flex para facilitar a disposição dos posts */
   flex-wrap: wrap; /* Permite que os itens flexbilem para a próxima linha, se necessário */
 }

 .post-box:first-child {
   min-width: 100%; /* Define a largura mínima como 100% para o primeiro post box */
 }

 .post-box{
   flex: 1 1 0; /* Define a flexibilidade dos posts, permitindo que eles cresçam igualmente */
   margin-bottom: 20px; /* Adiciona uma margem inferior de 20px */
 }

 .post-box:nth-child(3){
   margin: 0 1%;
 }

 .post-box img{
   width: 100%; /* Define a largura da imagem como 100% do container do post */
 }

 .post-box .post-title {
   font-size: 24px; /* Define o tamanho da fonte como 24px */
   margin: 10px 0; /* Adiciona uma margem superior e inferior de 10px */
 }

 .post-box .post-title a{
   color: #000; /* Define a cor do texto do link como preta */
   transition: .5s; /* Adiciona uma transição de 0.5s para as mudanças de estilo */
 }

 .post-box .post-title a:hover{
   color: #999; /* Muda a cor do texto do link para cinza claro quando o mouse está sobre o link */
 }

 .post-box .post-description{
   color: #666;
}  

.tags-container {
   margin-top: 10px;
 } 
 .tags-container a {
   font-size: 14px;
   color: #333;
   display: inline-block;
   margin-right: 5px;
 }

/* POST */
#post-container {
   display: grid;
   grid-template-columns: 75% 25%;
   grid-template-rows: auto;
   grid-template-areas: "main sidebar";
   grid-gap: 10px;
   padding-top: 30px;
   max-width: 1200px;
   margin: 0 auto;
   margin-bottom: 250px;
}

.content-container {
   grid-area: main;
}

#main-title {
   font-size: 36px;
   margin-bottom: 30px;
}
   
#post-description {
   font-style: italic;
   margin-bottom: 40px;
}

.post-content{
   line-height: 1.8;
   margin: 10px 0;
}

.img-container {
   margin-bottom: 30px;
}

.img-container img {
   width: 60%;
}

/* POST-ASIDE */

.nav-container {
   grid-area: sidebar;
}
    
#tags-title, #categories-title {
   font-size: 24px;
   margin-bottom: 10px;
   background-color: #000;
   color: #fff ;
   text-align: center;
   padding: 10px;
   font-weight: 300;
}

#tag-list, #categories-list {
   list-style: none;
}

#tag-list li, #categories-list li{
   margin-bottom: 10px;
}

#tag-list a, #categories-list a{
   color: #666;
   transition: .5s;
}

#tag-list a:hover, #categories-list a:hover{
   color:#000 ;
}

 /* FOOTER */
footer{
    width: 100%; /* Define a largura do rodapé como 100% */
    position: absolute; /* Define a posição do rodapé como absoluta */
    bottom: 0; /* Posiciona o rodapé no fundo do elemento pai */
    text-align: center; /* Centraliza o texto dentro do rodapé */
    background-color: #3c90da; /* Define a cor de fundo do rodapé como preto */
    color: #fff; /* Define a cor do texto como branca */
    padding: 50px 0; /* Adiciona um padding de 50px no topo e na parte inferior do rodapé */
}


/* PAG-CONTATO */

.contact-container {
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   border: 2px solid #000; /* Borda preta */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   max-width: 400px; /* largura máxima da caixa */
   width: 100%;
}

.contact-container h1 {
   margin-bottom: 20px;
}

.contact-info p {
   margin: 10px 0;
}

.contact-info a {
   color: #007BFF;
   text-decoration: none;
}

.contact-info a:hover {
   text-decoration: underline;
}